<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminBoard">
    <!-- call AdminBoard.selectQna -->
    <select id="selectQna" parameterType="Map" resultType="Map">
        SELECT * 
        FROM QNA
        <if test="pageScale != null">
            ORDER BY QNA_DATE DESC
            LIMIT #{pageBegin}, #{pageScale}
        </if>
    </select>

    <!-- call AdminBoard.selectQnaSearch -->
    <select id="selectQnaSearch" parameterType="Map" resultType="Map">
        SELECT * 
        FROM QNA
        <if test="selectKeyField != '' and selectKeyWord != null" >
            WHERE ${selectKeyField} = #{selectKeyWord}
        </if>
    </select>

    <!-- call AdminBoard.selectQnaContent -->
    <select id="selectQnaContent" parameterType="Map" resultType="Map">
        SELECT *
        FROM QNA
        WHERE USER_UID = #{USER_UID} AND QNA_TITLE = #{QNA_TITLE} AND QNA_CONTENT = #{QNA_CONTENT}
    </select>

    <!-- call AdminBoard.updateQnaAnswer -->
    <update id="updateQnaAnswer" parameterType="Map"> 
        UPDATE QNA
        SET 
        <choose>
            <when test="QNA_ANSWER != null and QNA_ANSWER != ''">
                QNA_ANSWER = #{QNA_ANSWER}, ANSWER_STATUS = '답변완료'
            </when>
            <otherwise>
                QNA_ANSWER = #{QNA_ANSWER}
            </otherwise>
        </choose>
        WHERE USER_UID = #{USER_UID} AND QNA_TITLE = #{QNA_TITLE} AND QNA_CONTENT = #{QNA_CONTENT}
    </update>

    <!-- call AdminBoard.deleteQna -->
    <delete id="deleteQna" parameterType="Map"> 
        DELETE FROM QNA 
        WHERE QNA_UID = #{QNA_UID}
    </delete>

    <!-- call AdminBoard.selectQnaTotal -->
    <select id="selectQnaTotal" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM QNA
    </select>


    <!-- 여기서부터 공지 -->
    
    <!-- call AdminBoard.selectNoticeTotal -->
    <select id="selectNoticeTotal" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM NOTICE
    </select>

    <!-- call AdminBoard.selectNotice -->
    <select id="selectNotice" parameterType="Map" resultType="Map">
        SELECT *
        FROM USER INNER JOIN NOTICE
        ON USER.USER_UID = NOTICE.USER_UID
        <if test="pageScale != null">
            ORDER BY NOTICE_DATE DESC
            LIMIT #{pageBegin}, #{pageScale}
        </if>
    </select>

    <!-- call AdminBoard.selectNoticeContent -->
    <select id="selectNoticeContent" parameterType="Map" resultType="Map">
        SELECT *
        FROM NOTICE INNER JOIN USER
        ON NOTICE.USER_UID = USER.USER_UID
        WHERE NOTICE_UID = #{NOTICE_UID} AND NOTICE_TITLE = #{NOTICE_TITLE} AND NOTICE_CONTENT = #{NOTICE_CONTENT}
    </select>

    <!-- call AdminBoard.updateNotice -->
    <update id="updateNotice" parameterType="Map"> 
        UPDATE NOTICE
        SET
        <choose>
            <when test="attachfiles != null and attachfiles.size != 0">
                <foreach collection="attachfiles" item="attachfile">
                    NOTICE_TITLE = #{attachfile.NOTICE_TITLE}, NOTICE_CONTENT = #{attachfile.NOTICE_CONTENT}, NOTICE_ATTACHFILE_SEQ = #{attachfile.NOTICE_ATTACHFILE_SEQ},
                    NOTICE_ORIGINALFILE_NAME = #{attachfile.NOTICE_ORIGINALFILE_NAME}, NOTICE_PHYSICALFILE_NAME = #{attachfile.NOTICE_PHYSICALFILE_NAME}
                    WHERE NOTICE_UID = #{NOTICE_UID}
                </foreach> 
            </when>
            <otherwise>
                    NOTICE_TITLE = #{NOTICE_TITLE}, NOTICE_CONTENT = #{NOTICE_CONTENT}
                    WHERE NOTICE_UID = #{NOTICE_UID}
            </otherwise>
        </choose>
    </update>

    <!-- call AdminBoard.deleteNotice -->
    <delete id="deleteNotice" parameterType="Map"> 
        DELETE FROM NOTICE 
        WHERE NOTICE_UID = #{NOTICE_UID}
    </delete>

    <!-- call AdminBoard.insertNoticeWithFile -->
    <insert id="insertNoticeWithFile" parameterType="Map"> 
        INSERT INTO NOTICE (NOTICE_DATE, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_FILE, NOTICE_ATTACHFILE_SEQ, NOTICE_ORIGINALFILE_NAME, NOTICE_PHYSICALFILE_NAME, USER_UID)
        VALUES
        <!-- ('2023-02-21', '서버점검안내', '서버점검이 2023년...', NULL,'UUID','공지.txt','파일들 폴더명', '관리자')
        ,('2023-02-23', '비밀번호변경', '마이페이지에서...', NULL,'UUID','공지.txt','파일들 폴더명', '관리자')     -->
        <choose>
            <when test="attachfiles != null and attachfiles.size != 0">
                <foreach collection="attachfiles" item="attachfile"
                        open="(" close=")" separator="),(">
                    DATE(NOW()), #{attachfile.NOTICE_TITLE}, #{attachfile.NOTICE_CONTENT}, #{attachfile.NOTICE_FILE}, #{attachfile.NOTICE_ATTACHFILE_SEQ}
                    ,#{attachfile.NOTICE_ORIGINALFILE_NAME},#{attachfile.NOTICE_PHYSICALFILE_NAME},#{USER_UID}
                </foreach>
            </when>
            <otherwise>
                    (DATE(NOW()), #{NOTICE_TITLE}, #{NOTICE_CONTENT}, #{NOTICE_FILE}, #{NOTICE_ATTACHFILE_SEQ}
                    ,#{NOTICE_ORIGINALFILE_NAME},#{NOTICE_PHYSICALFILE_NAME},#{USER_UID})
            </otherwise>
        </choose>
    </insert>

</mapper>