<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminUser">
<!-- ADMIN USER LIST -->
    <!-- AdminUser.selectUserList -->
    <select id="selectUserList" parameterType="Map" resultType="Map">
        SELECT *
        FROM USER
        <if test="pageScale != null">
            ORDER BY USER_UID
            <!-- 첫번째 리스트 -->
            LIMIT #{pageBegin}, #{pageScale}
        </if>
    </select>

    <!-- AdminUser.selectUserTotal -->
    <select id="selectUserTotal" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM USER
    </select>

    <!-- AdminUser.insertUser -->
    <insert id="insertUser" parameterType="Map">
        INSERT INTO USER (USER_UID, PASSWORD, NAME, BIRTH, GENDER, PHONE, AUTHORITY)
        VALUE (#{USER_UID}, #{PASSWORD}, #{NAME}, #{BIRTH}, #{GENDER}, #{PHONE}, #{AUTHORITY})
    </insert>

    <!-- AdminUser.selectUserInfo -->
    <select id="selectUserInfo" parameterType="Map" resultType="Map">
        SELECT *
        FROM USER
        WHERE USER_UID = #{USER_UID}
        AND PASSWORD = #{PASSWORD}
        AND NAME = #{NAME}
        AND BIRTH = #{BIRTH}
        AND GENDER = #{GENDER}
        AND PHONE = #{PHONE}
        AND AUTHORITY = #{AUTHORITY}
    </select>

    <!-- AdminUser.updateUser  -->
    <update id="updateUser" parameterType="Map">
        UPDATE USER 
        SET PASSWORD = #{PASSWORD},
            NAME = #{NAME},
            BIRTH = #{BIRTH},
            GENDER = #{GENDER},
            PHONE = #{PHONE},
            AUTHORITY = #{AUTHORITY}
        WHERE USER_UID = #{USER_UID}
    </update>

    <!-- AdminUser.deleteUser -->
    <delete id="deleteUser" parameterType="Map">
        DELETE FROM USER
        WHERE USER_UID = #{USER_UID}
    </delete>

<!-- search -->
    <!-- AdminUser.serachUser -->
        <select id="serachUser" parameterType="Map" resultType="Map">
            <choose>
                <when test="keyType == 'USER_UID'">
                    SELECT *
                    FROM USER
                    WHERE REPLACE(USER_UID, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </when>
                <when test="keyType == 'NAME'">
                    SELECT *
                    FROM USER
                    WHERE REPLACE(NAME, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </when>
                <when test="keyType == 'BIRTH'">
                    SELECT *
                    FROM USER                   
                    WHERE REPLACE(BIRTH, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </when>
                <when test="keyType == 'PHONE'">
                    SELECT *
                    FROM USER                    
                    WHERE REPLACE(PHONE, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </when>
                <otherwise >
                    SELECT *
                    FROM USER                    
                    WHERE REPLACE(USER_UID, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                    OR REPLACE(NAME, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                    OR REPLACE(BIRTH, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                    OR REPLACE(PHONE, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </otherwise>
            </choose>
        </select>

    <!-- call AdminUser.searchListCount -->
    <select id="searchListCount" parameterType="Map" resultType="int">
         <choose>
                <when test="keyType == 'USER_ID'">
                    SELECT count(*) as cnt
                    FROM USER                    
                    WHERE REPLACE(USER_UID, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </when>
                <when test="keyType == 'NAME'">
                    SELECT count(*) as cnt
                    FROM USER                    
                    WHERE REPLACE(NAME, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </when>
                <when test="keyType == 'BIRTH'">
                    SELECT count(*) as cnt
                    FROM USER                   
                    WHERE REPLACE(BIRTH, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </when>
                <when test="keyType == 'PHONE'">
                    SELECT count(*) as cnt
                    FROM USER                    
                    WHERE REPLACE(PHONE, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </when>
                <otherwise >
                    SELECT count(*) as cnt
                    FROM USER                    
                    WHERE REPLACE(USER_UID, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                    OR REPLACE(NAME, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                    OR REPLACE(BIRTH, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                    OR REPLACE(PHONE, '', '') LIKE CONCAT('%', #{SERCH_KEYWORD}, '%')
                </otherwise>
         </choose>
    </select>

</mapper>