<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminCoupon">
<!-- ADMIN COUPON -->
    <!-- AdminCoupon.adminCoupon -->
    <select id="adminCoupon" parameterType="Map" resultType="Map">
        SELECT *
        FROM COUPON
        <if test="pageScale != null">
            ORDER BY COUPON_UID
            <!-- 첫번째 리스트 -->
            LIMIT #{pageBegin}, #{pageScale}
        </if>
    </select>

    <!-- AdminCoupon.selectCouponTotal -->
    <select id="selectCouponTotal" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM COUPON
    </select>

    <!-- AdminCoupon.insertCouponWithFile -->
    <insert id="insertCouponWithFile" parameterType="Map">
        INSERT INTO COUPON (COUPON_FILE, C_ATTACHFILE_SEQ, C_ORIGINALFILE_NAME, C_PHYSICALFILE_NAME, COUPON_NAME, COUPON_DATE, COUPON_DATETIME1, COUPON_DATETIME2, USER_UID)
        VALUE
        <choose>
            <when test="attachfiles != null and attachfiles.size != 0">
                <foreach collection="attachfiles" item="attachfile"
                        open="(" close=")" separator="),(">
                        #{attachfile.COUPON_FILE}, #{attachfile.C_ATTACHFILE_SEQ}, #{attachfile.C_ORIGINALFILE_NAME}, 
                        #{attachfile.C_PHYSICALFILE_NAME}, #{attachfile.COUPON_NAME}, DATE(NOW()), 
                        #{attachfile.COUPON_DATETIME1}, #{attachfile.COUPON_DATETIME2}, #{USER_UID}
                </foreach>
            </when>
            <otherwise>
            (#{COUPON_FILE}, #{C_ATTACHFILE_SEQ}, #{C_ORIGINALFILE_NAME}, #{C_PHYSICALFILE_NAME}, #{COUPON_NAME}, DATE(NOW()), #{COUPON_DATETIME1}, #{COUPON_DATETIME2}, #{USER_UID})
            </otherwise>
        </choose>
    </insert>

    <!-- AdminCoupon.selectCouponCont -->
    <select id="selectCouponCont" parameterType="Map" resultType="Map">
        SELECT *
        FROM COUPON
        INNER JOIN USER
        ON COUPON.USER_UID = USER.USER_UID
        WHERE COUPON_UID = #{COUPON_UID}
    </select>

    <!-- AdminCoupon.updateCoupon  -->
    <update id="updateCoupon" parameterType="Map">
        UPDATE COUPON
        SET 
         <choose>
            <when test="attachfiles != null and attachfiles.size != 0">
                <foreach collection="attachfiles" item="attachfile">
                    COUPON_FILE = #{attachfile.COUPON_FILE}, C_ATTACHFILE_SEQ = #{attachfile.C_ATTACHFILE_SEQ}, C_ORIGINALFILE_NAME = #{attachfile.C_ORIGINALFILE_NAME}, C_PHYSICALFILE_NAME = #{attachfile.C_PHYSICALFILE_NAME},
                    COUPON_NAME = #{attachfile.COUPON_NAME}, COUPON_DATETIME1 = #{attachfile.COUPON_DATETIME1}, COUPON_DATETIME2 =#{attachfile.COUPON_DATETIME2}
                    WHERE COUPON_UID = #{COUPON_UID}
                </foreach>
            </when>
            <otherwise>
                COUPON_FILE = #{COUPON_FILE}, COUPON_NAME = #{COUPON_NAME}, COUPON_DATETIME1 = #{COUPON_DATETIME1}, COUPON_DATETIME2 = #{COUPON_DATETIME2}
                WHERE COUPON_UID = #{COUPON_UID}
            </otherwise>
        </choose>
    </update>

    <!-- AdminCoupon.deleteCoupon -->
    <delete id="deleteCoupon" parameterType="Map">
        DELETE FROM COUPON
        WHERE COUPON_UID = #{COUPON_UID}
    </delete>
</mapper>