<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminCoupon">
<!-- ADMIN COUPON -->
    <!-- AdminCoupon.adminCoupon -->
    <select id="adminCoupon" parameterType="Map" resultType="Map">
        SELECT *
        FROM COUPON
        <if test="pageScale != null">
            ORDER BY COUPON_UID
            <!-- 첫번째 리스트 -->
            LIMIT #{pageBegin}, #{pageScale}
        </if>
    </select>

    <!-- AdminCoupon.selectCouponUID -->
    <select id="selectCouponUID" parameterType="Map" resultType="Map">
        SELECT *
        FROM COUPON
        WHERE COUPON_UID = #{COUPON_UID}
    </select>

    <!-- AdminCoupon.selectCouponCont -->
    <select id="selectCouponCont" parameterType="Map" resultType="Map">
        SELECT *
        FROM COUPON
        INNER JOIN USER
        ON COUPON.USER_UID = USER.USER_UID
        WHERE COUPON_UID = #{COUPON_UID}
        AND COUPON_NAME = #{COUPON_NAME}
        AND COUPON_DATE = #{COUPON_DATE}
    </select>


    <!-- AdminCoupon.selectCouponTotal -->
    <select id="selectCouponTotal" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM COUPON
    </select>

    <!-- AdminCoupon.insertCouponWithFile -->
    <insert id="insertCouponWithFile" parameterType="Map">
        INSERT INTO COUPON (COUPON_FILE, ATTACHFILE_SEQ, ORIGINALFILE_NAME, PHYSICALFILE_NAME, COUPON_NAME, COUPON_DATE, COUPON_DATETIME1, COUPON_DATETIME2, USER_UID)
        VALUE 
        <foreach collection="attachfiles" item="attachfile"
                open="(" close=")" separator="),(">
                #{attachfiles.COUPON_FILE}, #{attachfiles.ATTACHFILE_SEQ}, #{attachfiles.ORIGINALFILE_NAME}, #{attachfiles.PHYSICALFILE_NAME}, #{attachfiles.COUPON_NAME}, DATE(NOW()), #{attachfiles.COUPON_DATETIME1}, #{attachfiles.COUPON_DATETIME2}, #{USER_UID}
        </foreach>
    </insert>

    <!-- AdminCoupon.updateCoupon  -->
    <update id="updateCoupon" parameterType="Map">
        UPDATE COUPON
        SET COUPON_FILE = #{COUPON_FILE},
            COUPON_NAME = #{COUPON_NAME},
            COUPON_DATETIME1 = #{COUPON_DATETIME1},
            COUPON_DATETIME2 = #{COUPON_DATETIME2}
        WHERE COUPON_UID = #{COUPON_UID}
    </update>

    <!-- AdminCoupon.deleteCoupon -->
    <delete id="deleteCoupon" parameterType="Map">
        DELETE FROM COUPON
        WHERE COUPON_UID = #{COUPON_UID}
    </delete>
</mapper>