<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IndexNotice">

<!-- INDEX -->
    <!-- IndexNotice.wineList -->
    <select id="wineList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE 
        WHERE WINE_SCOPE LIKE '4.%'
        LIMIT 4
    </select>

        <!-- IndexNotice.wineTotal -->
    <select id="wineTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
    </select>

<!-- NOTICE -->
    <!-- IndexNotice.selectNotice -->
    <select id="selectNotice" parameterType="Map" resultType="Map">
        SELECT *
        FROM NOTICE
        <if test="pageScale != null">
            ORDER BY NOTICE_UID
            <!-- 첫번째 리스트 -->
            LIMIT #{pageBegin}, #{pageScale}
        </if>
    </select>

    <!-- IndexNotice.selectNoticeUID -->
    <select id="selectNoticeUID" parameterType="Map" resultType="Map">
        SELECT *
        FROM NOTICE
        WHERE NOTICE_UID = #{NOTICE_UID}
    </select>

    <!-- IndexNotice.viewNoticeCont -->
    <select id="viewNoticeCont" parameterType="Map" resultType="Map">
        SELECT NOTICE_TITLE, NOTICE_DATE, NOTICE_CONTENT
        FROM NOTICE
    </select>

     <!-- IndexNotice.selectNoticeTotal -->
    <select id="selectNoticeTotal" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM NOTICE
    </select>

    <!-- IndexNotice.serachNotice -->
    <select id="serachNotice" parameterType="Map" resultType="Map">
        SELECT *
        FROM NOTICE
        WHERE REPLACE(NOTICE_TITLE, '', '') LIKE CONCAT('%', #{SEARCH_NOTICE}, '%')
    </select>

    <!-- IndexNotice.serachNoticeCount -->
    <select id="serachNoticeCount" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM NOTICE
        WHERE REPLACE(NOTICE_CONTENT, '', '') LIKE CONCAT('%', #{SEARCH_NOTICE}, '%')
    </select>
</mapper>