<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

<!-- 유저 로그인-->
<select id="userLogin"
 parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
    USER_UID
  , PASSWORD
  , NAME
  , BIRTH
  , GENDER
  , PHONE
  , AUTHORITY
  , POST
  , ADDRESS
  , ADDRESS_DETAIL AS ADDRESSDETAIL
FROM USER
WHERE USER_UID = #{USER_UID}
<!--and password = #{password}-->
</select>

<!-- 회원가입 -->
<insert id="insertUser">
INSERT INTO USER
( 
    USER_UID
  , PASSWORD
  , NAME
  , BIRTH
  , GENDER
  , PHONE
  , AUTHORITY
  , ADDRESS
  , ADDRESS_DETAIL
  , POST
)
VALUES
(
    #{USER_UID} 
  , #{PASSWORD}
  , #{NAME}
  , #{BIRTH}
  <choose>
    <when test='"F".equals(GENDER)'>
      , '여자'
    </when>
    <when test='"M".equals(GENDER)'>
      , '남자'
    </when>
  </choose>
  , #{PHONE}
  , 'USER'
  , #{ADDRESS}
  , #{ADDRESSDETAIL}
  , #{POST}
)
</insert>

<!-- 유저 정보 수정-->
<update id="changeUserInfo">
UPDATE
    USER
SET 
  PHONE = #{PHONE}  
   <if test="PASSWORD != null and PASSWORD != ''">
    ,PASSWORD = #{PASSWORD}
   </if>  
  , ADDRESS = #{ADDRESS}
  , ADDRESS_DETAIL = #{ADDRESSDETAIL}
  , POST = #{POST}
  WHERE USER_UID = #{USER_UID}
</update>

<!-- 회원 탈퇴, 정보 삭제-->
<delete id="deleteUser">
DELETE
FROM USER
WHERE USER_UID = #{USER_UID}
</delete>

<select id="checkId" resultType="_int">
SELECT
COUNT(*)
FROM USER
WHERE USER_UID = #{CHECKID}
</select>

<!-- 유저 ID 찾기-->
<select id="findIdCheck"
 parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
    NAME
, USER_UID
FROM USER
WHERE NAME = #{NAME}
	AND PHONE = #{PHONE}
</select>

<!-- 유저 비밀번호 찾기-->
<select id="findUserPwd"
 parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
    USER_UID
FROM USER
WHERE
 USER_UID = #{USER_UID}
AND NAME = #{NAME}
AND PHONE = #{PHONE}
</select>

<!-- 비밀번호 찾기 후 수정-->
<update id="changePwd">
UPDATE USER
SET
  PASSWORD = #{PASSWORD}    
  WHERE USER_UID = #{USER_UID}
</update>

<!-- 리뷰 갖고오기 -->
<select id="selectReview"
 parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
  @ROWNUM := @ROWNUM + 1 AS NUMBER,
  A.*,
  B.WINE_NAME
FROM REVIEW A
LEFT OUTER JOIN WINE B
ON A.WINE_UID = B.WINE_UID
WHERE USER_UID = #{USER_UID}
  AND (@ROWNUM:=0) =0
</select>

<select id="selectQna"
parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
  @ROWNUM := @ROWNUM + 1 AS NUMBER,
  A.*,
  B.WINE_NAME
FROM QNA A
LEFT OUTER JOIN WINE B
ON A.QNA_UID = B.WINE_UID
WHERE USER_UID = #{USER_UID}
  AND (@ROWNUM:=0) =0
</select>

<select id="reviewCount"
parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT 
COUNT(*) AS REVIEWCOUNT
FROM REVIEW
WHERE USER_UID = #{USER_UID}
</select>

<select id="qnaCount"
parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT 
COUNT(*) AS QNACOUNT
FROM QNA
WHERE USER_UID = #{USER_UID}
</select>
</mapper>