<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

<!-- 유저 로그인-->
<select id="userLogin"
 parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
    USER_UID
  , PASSWORD
  , NAME
  , BIRTH
  , GENDER
  , PHONE
  , AUTHORITY
  , POST
  , ADDRESS
  , ADDRESS_DETAIL AS ADDRESSDETAIL
FROM USER
WHERE USER_UID = #{USER_UID}
<!--and password = #{password}-->
</select>

<!-- 회원가입 -->
<insert id="insertUser">
INSERT INTO USER
( 
    USER_UID
  , PASSWORD
  , NAME
  , BIRTH
  , GENDER
  , PHONE
  , AUTHORITY
  , ADDRESS
  , ADDRESS_DETAIL
  , POST
)
VALUES
(
    #{USER_UID} 
  , #{PASSWORD}
  , #{NAME}
  , #{BIRTH}
  <choose>
    <when test='"F".equals(GENDER)'>
      , '여자'
    </when>
    <when test='"M".equals(GENDER)'>
      , '남자'
    </when>
  </choose>
  , #{PHONE}
  , 'USER'
  , #{ADDRESS}
  , #{ADDRESSDETAIL}
  , #{POST}
)
</insert>

<!-- 유저 정보 수정-->
<update id="changeUserInfo">
UPDATE
    USER
SET 
  PHONE = #{PHONE}  
   <if test="PASSWORD != null and PASSWORD != ''">
    ,PASSWORD = #{PASSWORD}
   </if>  
  , ADDRESS = #{ADDRESS}
  , ADDRESS_DETAIL = #{ADDRESSDETAIL}
  , POST = #{POST}
  WHERE USER_UID = #{USER_UID}
</update>

<!-- 회원 탈퇴, 정보 삭제-->
<delete id="deleteUser">
DELETE
FROM USER
WHERE USER_UID = #{USER_UID}
</delete>

<select id="checkId" resultType="_int">
SELECT
COUNT(*)
FROM USER
WHERE USER_UID = #{CHECKID}
</select>

<!-- 유저 ID 찾기-->
<select id="findIdCheck"
 parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
    NAME
, USER_UID
FROM USER
WHERE NAME = #{NAME}
	AND PHONE = #{PHONE}
</select>

<!-- 유저 비밀번호 찾기-->
<select id="findUserPwd"
 parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
    USER_UID
FROM USER
WHERE
 USER_UID = #{USER_UID}
AND NAME = #{NAME}
AND PHONE = #{PHONE}
</select>

<!-- 비밀번호 찾기 후 수정-->
<update id="changePwd">
UPDATE USER
SET
  PASSWORD = #{PASSWORD}    
  WHERE USER_UID = #{USER_UID}
</update>

<!-- 리뷰 갖고오기 -->
  <!-- userMapper.selectReview  -->
<select id="selectReview"
 parameterType="Map"
 resultType="Map">
SELECT
  @ROWNUM := @ROWNUM + 1 AS NUMBER,
  A.*,
  B.*
FROM REVIEW A
LEFT OUTER JOIN WINE B
ON A.WINE_UID = B.WINE_UID
WHERE USER_UID = #{USER_UID}
  AND (@ROWNUM:=0) =0
</select>

<select id="reviewCount"
parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT 
COUNT(*) AS REVIEWCOUNT
FROM REVIEW
WHERE USER_UID = #{USER_UID}
</select>

<select id="qnaCount"
parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT 
COUNT(*) AS QNACOUNT
FROM QNA
WHERE USER_UID = #{USER_UID}
</select>

<select id="wishlistCount"
parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT 
COUNT(*) AS WISHLISTCOUNT
FROM WISHLIST
WHERE USER_UID = #{USER_UID}
</select>


<!-- QNA -->
<select id="selectQna"
parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
  @ROWNUM := @ROWNUM + 1 AS NUMBER,
  A.*,
  B.*
FROM QNA A
LEFT OUTER JOIN WINE B
ON A.QNA_UID = B.WINE_UID
WHERE USER_UID = #{USER_UID}
  AND (@ROWNUM:=0) =0
</select>


<!-- sol -->
  <!-- userMapper.selectReviewInfo  -->
  <select id="selectReviewInfo">
    SELECT *
    FROM REVIEW
    INNER JOIN USER
    ON REVIEW.USER_UID = USER.USER_UID
    WHERE REVIEW_UID = #{REVIEW_UID}
  </select>

  <!-- userMapper.updateReview  -->
  <update id="updateReview" parameterType="com.mango.mango_final_project.user.model.vo.User">
      UPDATE REVIEW 
      SET REVIEW_TITLE = #{REVIEW_TITLE},
          REVIEW_SCOPE = #{REVIEW_SCOPE},
          REVIEW_CONTENT = #{REVIEW_CONTENT}
      WHERE REVIEW_UID = #{REVIEW_UID}
      AND USER_UID = #{USER_UID}
  </update>

  <!-- userMapper.deleteReview -->
  <delete id="deleteReview" parameterType="com.mango.mango_final_project.user.model.vo.User">
      DELETE FROM REVIEW
      WHERE USER_UID = #{USER_UID}
      AND REVIEW_UID = #{REVIEW_UID}
  </delete>

  <!-- userMapper.selectQnaInfo  -->
  <select id="selectQnaInfo"
  parameterType="com.mango.mango_final_project.user.model.vo.User"
  resultType="com.mango.mango_final_project.user.model.vo.User">
    SELECT *
    FROM QNA
    INNER JOIN USER
    ON QNA.USER_UID = USER.USER_UID
    WHERE QNA_UID = #{QNA_UID}
  </select>

  <!-- userMapper.updateQna  -->
  <update id="updateQna" parameterType="com.mango.mango_final_project.user.model.vo.User">
      UPDATE QNA 
      SET QNA_TITLE = #{QNA_TITLE},
          QNA_CONTENT = #{QNA_CONTENT}
      WHERE QNA_UID = #{QNA_UID}
      AND USER_UID = #{USER_UID}
  </update>

  <!-- userMapper.deleteQna -->
  <delete id="deleteQna" parameterType="com.mango.mango_final_project.user.model.vo.User">
DELETE FROM QNA
WHERE QNA_UID = #{QNA_UID}
AND USER_UID = #{USER_UID}
  </delete>

  <select id="selectWishlist"
parameterType="com.mango.mango_final_project.user.model.vo.User"
 resultType="com.mango.mango_final_project.user.model.vo.User">
SELECT
  @ROWNUM := @ROWNUM + 1 AS NUMBER,
  A.USER_UID,
  B.*
FROM WISHLIST A
LEFT OUTER JOIN WINE B
ON A.WINE_UID = B.WINE_UID
WHERE USER_UID = #{USER_UID}
  AND (@ROWNUM:=0) =0
</select>

<delete id="deleteWishlist" parameterType="com.mango.mango_final_project.user.model.vo.User"
 >
DELETE FROM WISHLIST
WHERE WINE_UID = #{WINE_UID}
AND USER_UID = #{USER_UID}
</delete>

<delete id="deleteAllWishlist" parameterType="com.mango.mango_final_project.user.model.vo.User"
 >
DELETE FROM WISHLIST
WHERE USER_UID = #{USER_UID}
</delete>

    <!-- 위시리스트 insert -->
    <insert id="wineWishlistInsert" parameterType="Map">
        INSERT INTO WISHLIST (USER_UID, WINE_UID) 
        VALUE (#{USER_UID}, #{WINE_UID})
    </insert>

    <!-- 위시리스트 중복체크 -->
    <select id="checkWishlist" resultType="_int">
      SELECT
      COUNT(*)
      FROM WISHLIST
      WHERE USER_UID = #{USER_UID} AND WINE_UID = #{WINE_UID}
    </select>

  <select id="getQna"
  parameterType="com.mango.mango_final_project.user.model.vo.User"
  resultType="com.mango.mango_final_project.user.model.vo.User">
    SELECT
    *
    FROM QNA
    WHERE USER_UID = #{USER_UID} AND QNA_UID = #{QNA_UID}


  </select>

    <select id="getReview"
  parameterType="com.mango.mango_final_project.user.model.vo.User"
  resultType="com.mango.mango_final_project.user.model.vo.User">
    SELECT
    *
    FROM REVIEW
    WHERE USER_UID = #{USER_UID} AND REVIEW_UID = #{REVIEW_UID}


  </select>

</mapper>