<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WinePrice">
    <!-- 3만원 이하 와인 목록 -->
    <select id="winePrice3List" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        <![CDATA[
        WHERE WINE_PRICE <= 30000
        ]]>
    </select>

</mapper>