<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WineInfo">

    <!-- 와인 정보 -->
    <select id="wineInfo" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_NAME_EN = #{WINE_NAME_EN}
    </select>

    <!-- 와인 스토어 정보 -->
    <select id="wineStoreInfo" parameterType="Map" resultType="Map">
        SELECT WINE.*, STORE.*
        FROM WINE, STORE
        WHERE WINE.WINE_UID = STORE.WINE_UID
        AND WINE_NAME_EN = #{WINE_NAME_EN}
    </select>
    <!-- 와인 리뷰 정보 -->
    <select id="wineReviewInfo" parameterType="Map" resultType="Map">
        SELECT WINE.*, REVIEW.*
        FROM WINE, REVIEW
        WHERE WINE.WINE_UID = REVIEW.WINE_UID
        AND WINE_NAME_EN = #{WINE_NAME_EN}
    </select>
    <!-- 와인 qna 정보 -->
    <select id="wineQNAInfo" parameterType="Map" resultType="Map">
        SELECT WINE.*, QNA.*
        FROM WINE, QNA
        WHERE WINE.WINE_UID = QNA.WINE_UID
        AND WINE_NAME_EN = #{WINE_NAME_EN}
    </select>

    <!-- 와인 문의 총 갯수 -->
    <select id="wineInfoTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM REVIEW
    </select>


</mapper>