<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WineInfo">

    <!-- 와인 정보 -->
    <select id="wineInfo" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_NAME_EN = #{WINE_NAME_EN}
    </select>

    <!-- 와인 스토어 정보 -->
    <select id="wineStoreInfo" parameterType="Map" resultType="Map">
        SELECT WINE.*, STORE.*
        FROM WINE, STORE
        WHERE WINE.WINE_UID = STORE.WINE_UID
        AND WINE_NAME_EN = #{WINE_NAME_EN}
    </select>
    <!-- 와인 리뷰 정보 -->
    <select id="wineReviewInfo" parameterType="Map" resultType="Map">
        SELECT WINE.*, REVIEW.*
        FROM WINE, REVIEW
        WHERE WINE.WINE_UID = REVIEW.WINE_UID
        AND WINE_NAME_EN = #{WINE_NAME_EN}
    </select>
    <!-- 와인 리뷰 갯수 -->
    <select id="wineReviewTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM REVIEW
        WHERE WINE_UID = #{WINE_UID}
    </select>
    <!-- 와인 리뷰 작성 -->
    <insert id="wineReviewInsert" 
        parameterType="Map">
        INSERT INTO REVIEW (REVIEW_TITLE, REVIEW_SCOPE, REVIEW_DATE, REVIEW_CONTENT, USER_UID, WINE_UID) 
        VALUE (#{REVIEW_TITLE}, #{REVIEW_SCOPE}, date_format(now(), '%Y-%m-%d'), #{REVIEW_CONTENT}, #{USER_UID}, #{WINE_UID})
    </insert>


    <!-- 와인 qna 정보 -->
    <select id="wineQNAInfo" parameterType="Map" resultType="Map">
        SELECT WINE.*, QNA.*
        FROM WINE, QNA
        WHERE WINE.WINE_UID = QNA.WINE_UID
        AND WINE_NAME_EN = #{WINE_NAME_EN}
    </select>

    <!-- 와인 QNA 갯수 -->
    <select id="wineQNATotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM QNA
        WHERE WINE_UID = #{WINE_UID}
    </select>
    <!-- 와인 QNA 작성 -->
    <insert id="wineQNAInsert" 
        parameterType="Map">
        INSERT INTO QNA (QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_ANSWER, QNA_ANSWER_DATE, ANSWER_STATUS, USER_UID, WINE_UID) 
        VALUE (#{QNA_TITLE}, #{QNA_CONTENT}, date_format(now(), '%Y-%m-%d'), NULL, NULL, '답변대기', #{USER_UID}, #{WINE_UID})
    </insert>

    <!-- 와인 위시리스트 체크 -->
    <select id="wishlistCheck" 
        parameterType="Map" resultType="Map">
        SELECT *
        FROM WISHLIST INNER JOIN WINE
        ON WISHLIST.WINE_UID = WINE.WINE_UID
        WHERE WINE.WINE_NAME_EN = #{WINE_NAME_EN} AND WISHLIST.USER_UID = #{USER_UID}
    </select>

</mapper>