<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WineList">

    <!-- 와인 목록 -->
    <select id="wineList" parameterType="Map" resultType="Map">
        SELECT * 
        FROM WINE
    </select>

    <!-- 와인 총 갯수 -->
    <select id="wineTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
    </select>

    
    <select id="wineSelectList" parameterType="Map" resultType="Map">
        <choose>
            <when test="select == 'latest'">
                SELECT * 
                FROM WINE
                ORDER BY WINE_UID DESC
            </when>
            <when test="select == 'rowPrice'">
                SELECT * 
                FROM WINE
                ORDER BY WINE_PRICE
            </when>
            <when test="select == 'highPrice'">
                SELECT * 
                FROM WINE
                ORDER BY WINE_PRICE DESC
            </when>
            <when test="select == 'popular'">
                SELECT *, COUNT(WISHLIST.WINE_UID)
                FROM WINE LEFT JOIN WISHLIST
                ON WINE.WINE_UID = WISHLIST.WINE_UID
                GROUP BY 1
                ORDER BY COUNT(WISHLIST.WINE_UID) DESC
            </when>
            <otherwise>
                SELECT * 
                FROM WINE
            </otherwise>
        </choose>
    </select>


    <!-- 와인 삭제 -->
    <delete id="wineDelete" parameterType="Map">
        DELETE
        FROM WINE
        WHERE WINE_UID = #{WINE_UID}
    </delete>

    <!-- 와인 추가 -->
    <insert id="wineInsert" parameterType="Map">
        INSERT INTO WINE 
            (WINE_NAME, WINE_NAME_EN, WINE_SCOPE, 
            WINE_COMPANY, WINE_VARIETY, WINE_COUNTRY, WINE_REGION, 
            WINE_TYPE, WINE_ALCOHOL_DEGREE, WINE_PRICE, WINE_IMAGE, 
            WINE_FILE, WINE_INFO, WINE_FOOD_PAIRING)
        VALUES 
            (#{WINE_NAME}, #{WINE_NAME_EN}, #{WINE_SCOPE}, 
            #{WINE_COMPANY}, #{WINE_VARIETY}, #{WINE_COUNTRY}, #{WINE_REGION}, 
            #{WINE_TYPE}, #{WINE_ALCOHOL_DEGREE}, #{WINE_PRICE}, #{WINE_IMAGE}, 
            #{WINE_FILE}, #{WINE_INFO}, #{WINE_FOOD_PAIRING})
    </insert>

    <!-- 와인 수정 -->
    <update id="wineUpdate" parameterType="Map">
        UPDATE WINE 
        SET WINE_UID='r01'
        WHERE WINE_UID='ROSE01'
    </update>
</mapper>