<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WineDetailsSelect">
    <!-- call WineDetailsSelect.selectWineDetails -->
    <select id="selectWineDetails" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE LEFT JOIN WISHLIST
        ON WINE.WINE_UID = WISHLIST.WINE_UID
        WHERE 1 = 1
        <if test = "WINESEARCH_NAME != null and WINESEARCH_NAME != ''">
            AND REPLACE(WINE_NAME, ' ', '') LIKE CONCAT('%', REPLACE(#{WINESEARCH_NAME}, ' ', ''), '%')
        </if>
        <if test = "WINE_PRICE != null and WINE_PRICE != 0">
            AND WINE_PRICE <![CDATA[ <= ]]> #{WINE_PRICE}
        </if>
        <if test = "WINE_SCOPE_MAX != null and WINE_SCOPE_MIN != null">
            AND (WINE_SCOPE <![CDATA[ >= ]]> #{WINE_SCOPE_MIN} AND WINE_SCOPE <![CDATA[ < ]]> #{WINE_SCOPE_MAX})
        </if>
        <if test = "WINE_TYPE_LIST != null">
            AND WINE_TYPE IN
                <foreach collection="WINE_TYPE_LIST" item="WINE_TYPE" 
                open="(" separator="," close=")">
                    #{WINE_TYPE}
                </foreach>
        </if>
        <if test = "WINE_COUNTRY_LIST != null">
            AND WINE_COUNTRY IN
                <foreach collection="WINE_COUNTRY_LIST" item="WINE_COUNTRY" 
                open="(" separator="," close=")">
                    #{WINE_COUNTRY}
                </foreach>
        </if>
        <if test = "WINE_REGION_LIST != null">
            AND WINE_REGION IN
                <foreach collection="WINE_REGION_LIST" item="WINE_REGION" 
                open="(" separator="," close=")">
                    #{WINE_REGION}
                </foreach>
        </if>
        <if test = "WINE_VARIETY_LIST != null">
            AND WINE_VARIETY IN
                <foreach collection="WINE_VARIETY_LIST" item="WINE_VARIETY" 
                open="(" separator="," close=")">
                    #{WINE_VARIETY}
                </foreach>
        </if>
        <if test = "WINE_FOOD_PAIRING_LIST != null">
            AND WINE_FOOD_PAIRING IN
                <foreach collection="WINE_FOOD_PAIRING_LIST" item="WINE_FOOD_PAIRING" 
                open="(" separator="," close=")">
                    #{WINE_FOOD_PAIRING}
                </foreach>
        </if>
        GROUP BY WINE.WINE_UID, WINE.WINE_NAME, WINE.WINE_NAME_EN, WINE.WINE_SCOPE, WINE.WINE_COMPANY, WINE.WINE_VARIETY, WINE.WINE_COUNTRY, WINE.WINE_TYPE, WINE.WINE_ALCOHOL_DEGREE, WINE.WINE_PRICE, WINE.WINE_IMAGE, WINE.WINE_FILE, WINE.WINE_BODY, WINE.WINE_ACIDITY, WINE.WINE_SUGAR, WINE.WINE_TANNIN, WINE.WINE_FOOD_PAIRING, WISHLIST.USER_UID, WISHLIST.WINE_UID
        <if test="pageScale != null">
            <choose>
                <when test="selectKeyField == 'latest'">
                    ORDER BY WINE.WINE_UID DESC
                    LIMIT #{pageBegin}, #{pageScale}
                </when>
                <when test="selectKeyField == 'rowPrice'">
                    ORDER BY WINE.WINE_PRICE
                    LIMIT #{pageBegin}, #{pageScale}
                </when>
                <when test="selectKeyField == 'highPrice'">
                    ORDER BY WINE.WINE_PRICE DESC
                    LIMIT #{pageBegin}, #{pageScale}
                </when>
                <when test="selectKeyField == 'popular'">
                    ORDER BY COUNT(WISHLIST.WINE_UID) DESC
                    LIMIT #{pageBegin}, #{pageScale}
                </when>
                <otherwise>
                    ORDER BY WINE.WINE_UID
                    LIMIT #{pageBegin}, #{pageScale}
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- call WineDetailsSelect.selectWineDetailsTotal -->
    <select id="selectWineDetailsTotal" parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
        WHERE 1=1
        <if test = "WINESEARCH_NAME != null and WINESEARCH_NAME != ''">
            AND REPLACE(WINE_NAME, ' ', '') LIKE CONCAT('%', REPLACE(#{WINESEARCH_NAME}, ' ', ''), '%')
        </if>
        <if test = "WINE_PRICE != null and WINE_PRICE != 0">
            AND WINE_PRICE <![CDATA[ <= ]]> #{WINE_PRICE}
        </if>
        <if test = "WINE_SCOPE_MAX != null and WINE_SCOPE_MIN != null">
            AND (WINE_SCOPE <![CDATA[ >= ]]> #{WINE_SCOPE_MIN} AND WINE_SCOPE <![CDATA[ < ]]> #{WINE_SCOPE_MAX})
        </if>
        <if test = "WINE_TYPE_LIST != null">
            AND WINE_TYPE IN
                <foreach collection="WINE_TYPE_LIST" item="WINE_TYPE" 
                open="(" separator="," close=")">
                    #{WINE_TYPE}
                </foreach>
        </if>
        <if test = "WINE_COUNTRY_LIST != null">
            AND WINE_COUNTRY IN
                <foreach collection="WINE_COUNTRY_LIST" item="WINE_COUNTRY" 
                open="(" separator="," close=")">
                    #{WINE_COUNTRY}
                </foreach>
        </if>
        <if test = "WINE_REGION_LIST != null">
            AND WINE_REGION IN
                <foreach collection="WINE_REGION_LIST" item="WINE_REGION" 
                open="(" separator="," close=")">
                    #{WINE_REGION}
                </foreach>
        </if>
        <if test = "WINE_VARIETY_LIST != null">
            AND WINE_VARIETY IN
                <foreach collection="WINE_VARIETY_LIST" item="WINE_VARIETY" 
                open="(" separator="," close=")">
                    #{WINE_VARIETY}
                </foreach>
        </if>
        <if test = "WINE_FOOD_PAIRING_LIST != null">
            AND WINE_FOOD_PAIRING IN
                <foreach collection="WINE_FOOD_PAIRING_LIST" item="WINE_FOOD_PAIRING" 
                open="(" separator="," close=")">
                    #{WINE_FOOD_PAIRING}
                </foreach>
        </if>
    </select>
    
</mapper>