<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WineType">
    <!-- 레드 와인 목록 -->
    <select id="redwineList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_TYPE LIKE '레드%'
    </select>

    <!-- 화이트 와인 목록 -->
    <select id="whitewineList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_TYPE LIKE '화이트%'
    </select>

    <!-- 로제 와인 목록 -->
    <select id="rosewineList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_TYPE LIKE '로제%'
    </select>

    <!-- 스파클링 와인 목록 -->
    <select id="sparklingwineList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_TYPE LIKE '스파클링%'
    </select>
</mapper>