<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WineFood">
    <!-- 소고기 와인 목록 -->
    <select id="wineBeefList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%소%'
    </select>
    
    <select id="wineBeefSelectList" parameterType="Map" resultType="Map">
        <choose>
            <when test="select == 'latest'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%소%'
                ORDER BY WINE_UID DESC
            </when>
            <when test="select == 'rowPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%소%'
                ORDER BY WINE_PRICE
            </when>
            <when test="select == 'highPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%소%'
                ORDER BY WINE_PRICE DESC
            </when>
            <when test="select == 'popular'">
                SELECT *, COUNT(WISHLIST.WINE_UID)
                FROM WINE LEFT JOIN WISHLIST
                ON WINE.WINE_UID = WISHLIST.WINE_UID
                WHERE WINE_FOOD_PAIRING LIKE '%소%'
                ORDER BY COUNT(WISHLIST.WINE_UID) DESC
            </when>
            <otherwise>
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%소%'
            </otherwise>
        </choose>
    </select>
    <!-- 소고기 와인 총 갯수 -->
    <select id="wineBeefTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%소%'
    </select>

    <!-- 돼지고기 와인 목록 -->
    <select id="winePorkList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%돼지%'
    </select>

    <select id="winePorkSelectList" parameterType="Map" resultType="Map">
        <choose>
            <when test="select == 'latest'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%돼지%'
                ORDER BY WINE_UID DESC
            </when>
            <when test="select == 'rowPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%돼지%'
                ORDER BY WINE_PRICE
            </when>
            <when test="select == 'highPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%돼지%'
                ORDER BY WINE_PRICE DESC
            </when>
            <when test="select == 'popular'">
                SELECT *, COUNT(WISHLIST.WINE_UID)
                FROM WINE LEFT JOIN WISHLIST
                ON WINE.WINE_UID = WISHLIST.WINE_UID
                WHERE WINE_FOOD_PAIRING LIKE '%돼지%'
                ORDER BY COUNT(WISHLIST.WINE_UID) DESC
            </when>
            <otherwise>
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%돼지%'
            </otherwise>
        </choose>
    </select>
    <!-- 돼지고기 와인 총 갯수 -->
    <select id="winePorkTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%돼지%'
    </select>

    <!-- 양고기 와인 목록 -->
    <select id="wineLambList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%양%'
    </select>

    <select id="wineLambSelectList" parameterType="Map" resultType="Map">
        <choose>
            <when test="select == 'latest'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%양%'
                ORDER BY WINE_UID DESC
            </when>
            <when test="select == 'rowPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%양%'
                ORDER BY WINE_PRICE
            </when>
            <when test="select == 'highPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%양%'
                ORDER BY WINE_PRICE DESC
            </when>
            <when test="select == 'popular'">
                SELECT *, COUNT(WISHLIST.WINE_UID)
                FROM WINE LEFT JOIN WISHLIST
                ON WINE.WINE_UID = WISHLIST.WINE_UID
                WHERE WINE_FOOD_PAIRING LIKE '%양%'
                ORDER BY COUNT(WISHLIST.WINE_UID) DESC
            </when>
            <otherwise>
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%양%'
            </otherwise>
        </choose>
    </select>
    <!-- 양고기 와인 총 갯수 -->
    <select id="wineLambTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%양%'
    </select>

    <!-- 닭고기 와인 목록 -->
    <select id="wineChickenList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%닭%'
    </select>

    <select id="wineChickenSelectList" parameterType="Map" resultType="Map">
        <choose>
            <when test="select == 'latest'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%닭%'
                ORDER BY WINE_UID DESC
            </when>
            <when test="select == 'rowPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%닭%'
                ORDER BY WINE_PRICE
            </when>
            <when test="select == 'highPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%닭%'
                ORDER BY WINE_PRICE DESC
            </when>
            <when test="select == 'popular'">
                SELECT *, COUNT(WISHLIST.WINE_UID)
                FROM WINE LEFT JOIN WISHLIST
                ON WINE.WINE_UID = WISHLIST.WINE_UID
                WHERE WINE_FOOD_PAIRING LIKE '%닭%'
                ORDER BY COUNT(WISHLIST.WINE_UID) DESC
            </when>
            <otherwise>
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%닭%'
            </otherwise>
        </choose>
    </select>
    <!-- 닭고기 와인 총 갯수 -->
    <select id="wineChickenTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%닭%'
    </select>
    
    <!-- 치즈 와인 목록 -->
    <select id="wineCheeseList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%치즈%'
    </select>

    <select id="wineCheeseSelectList" parameterType="Map" resultType="Map">
        <choose>
            <when test="select == 'latest'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%치즈%'
                ORDER BY WINE_UID DESC
            </when>
            <when test="select == 'rowPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%치즈%'
                ORDER BY WINE_PRICE
            </when>
            <when test="select == 'highPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%치즈%'
                ORDER BY WINE_PRICE DESC
            </when>
            <when test="select == 'popular'">
                SELECT *, COUNT(WISHLIST.WINE_UID)
                FROM WINE LEFT JOIN WISHLIST
                ON WINE.WINE_UID = WISHLIST.WINE_UID
                WHERE WINE_FOOD_PAIRING LIKE '%치즈%'
                ORDER BY COUNT(WISHLIST.WINE_UID) DESC
            </when>
            <otherwise>
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%치즈%'
            </otherwise>
        </choose>
    </select>
    <!-- 치즈 와인 총 갯수 -->
    <select id="wineCheeseTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%치즈%'
    </select>

    <!-- 버섯 와인 목록 -->
    <select id="wineMushroomList" parameterType="Map" resultType="Map">
        SELECT *
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%버섯%'
    </select>

    <select id="wineMushroomSelectList" parameterType="Map" resultType="Map">
        <choose>
            <when test="select == 'latest'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%버섯%'
                ORDER BY WINE_UID DESC
            </when>
            <when test="select == 'rowPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%버섯%'
                ORDER BY WINE_PRICE
            </when>
            <when test="select == 'highPrice'">
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%버섯%'
                ORDER BY WINE_PRICE DESC
            </when>
            <when test="select == 'popular'">
                SELECT *, COUNT(WISHLIST.WINE_UID)
                FROM WINE LEFT JOIN WISHLIST
                ON WINE.WINE_UID = WISHLIST.WINE_UID
                WHERE WINE_FOOD_PAIRING LIKE '%버섯%'
                ORDER BY COUNT(WISHLIST.WINE_UID) DESC
            </when>
            <otherwise>
                SELECT * 
                FROM WINE
                WHERE WINE_FOOD_PAIRING LIKE '%버섯%'
            </otherwise>
        </choose>
    </select>
    <!-- 버섯 와인 총 갯수 -->
    <select id="wineMushroomTotal" 
        parameterType="Map" resultType="int">
        SELECT count(*) as cnt
        FROM WINE
        WHERE WINE_FOOD_PAIRING LIKE '%버섯%'
    </select>

</mapper>