#navbarFilterMenu a:hover {
  cursor: pointer;
  border-bottom: 2px solid rgb(127, 127, 127);
}
.navbarFilter a:hover {
  border-bottom: 2px solid rgb(127, 127, 127);
}
.page-link {
  color: black;
  background-color: white;
  border-color: white;
}
.page-link:focus,
.page-link:hover {
  color: white;
  background-color: black;
}
a {
  text-decoration: none;
  color: black;
}
