.card-img-top {
  height: 15rem;
  object-fit: cover;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.badge {
  color: dimgray;
}
#navbarFilterMenu a:hover {
  cursor: pointer;
  border-bottom: 2px solid rgb(127, 127, 127);
}
.navbarFilter a:hover {
  border-bottom: 2px solid rgb(127, 127, 127);
}
body {
  background-image: url("../img/배경이미지3.jpg");
}
